article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Default Styling */
html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: white;
  font-family: 'Manrope', sans-serif;
  line-height: 1.6;
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  
}

h1,
h2,
h3,
h4,
h5,
a,
p,
input,
button,
form,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

/* Typography */
h1 {
  padding: 0.5em 1em;
  color: #02DFEB;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2,
h3 {
  margin: 0.7em;
}

h3 {
  letter-spacing: 0.05em;
}

h5 {
  font-weight: bold;
  letter-spacing: 1.75px;
  font-size: 1.8rem;

}

h2,
h3,
h4,
h5,
.artist-list p,
.album-container p,
button {
  text-transform: uppercase;
}

svg {
  cursor: pointer;
}


/* Header */
nav {
  display: flex;
  justify-content: flex-start;
}


/* Top Daily Artists */
.search-container {
  border-top: 2px solid #00B0BF;
  border-left: 2px solid #00B0BF;
}

.top-albums {
  padding: 1em;
  border-bottom: 2px solid #00B0BF;
  border-right: 2px solid #00B0BF;
}

.search-container {
  margin: 4rem;   
}

.search-container,
.top-albums,
.playlist-container {
  border-radius: 2.5px;
}

.artist-list-container,
.search-container,
.artist-list {
  padding: 2rem;
  
}

.artist-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #171717;
  flex-basis: calc(50% - 20px);
  margin: 1rem;
  border-left: 2px solid #00B0BF;

}

.artist-list,
input[type="search"],
button {
  border-radius: 1.7px;
}


.artist-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.rank-container {
  width: 15%;
 
}

.artist-container p,
input[type="search"] {
  letter-spacing: 1px;
  
}

.top-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10% auto;
}

.album-container {
  flex-basis: calc(33% - 20px);
  width: 30%;
  margin: 1.5em 0.55em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.album-container img {
  border-radius: 50%;
}

.album-container p {
  margin: 1em 0;
}


/* Search */
.build-album {
  height: 100vh;
  margin-top: 20%;
}

.search-albums {
  background: #171717;
  padding: 3.5rem 2.5rem;
  margin: 1em;
}

input[type="search"],
.search button {
  padding: 0.5em 1.5em;
}

input[type="search"] {
  width: 60%;
  margin-right: 0.9em;
}

.search button {
  background-color: #00B0BF;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.8em 1.5em;
  box-shadow: 2px 2px 1px 0px #595859;
}

.like-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.like-album svg {
  color: #FC5252;
}

.like-album svg:hover {
  transform: scale(1.2);
  font-weight: bold;
  color: #00B0BF;
}


/* #FF6E00 */
/*  #0BF400 */
/* #F4CE48 */

/* PLaylists */
.user-playlist {
  border-top: 2px solid #00B0BF;
  border-left: 2px solid #00B0BF;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1.5em;
  border-bottom: 1px solid #0BF400;
  border-right: 1px solid #0BF400;
}

.user-album {
  background-color: #171717;
  padding: 2rem;
  margin: 0.8em 1em;
  display: flex;
  justify-content: space-between;
}

.selected-album {
  display: flex;
}

.delete {
  color: #00B0BF;
}

.list-info {
  flex-basis: 50%;
  margin-left: 4em;
  text-align: left;
}

.list-info a {
  font-size: 1.6rem; 
}

.artist-name {
  margin: 1.25em 0;
  letter-spacing: 0.06em;
  font-size: 1.7rem;
  font-weight: lighter;
  color: #989898;
}





/* Media Queries */
@media (max-width: 850px){

  .search-container {
    margin: 0.5em;
  }

  .search-albums {
    margin: 0.2em;
  }

  .search-albums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type="search"] {
    width: 70%;
    margin-bottom: 2em;
    margin-right: 0;

  }

  input[type="search"]::placeholder {
    text-align: center;
  }

  .search button {
    padding: 0.8em 4em;
  }

  .like-album p {
    font-size: 1.5rem;
  }

}


@media (max-width: 768px){
  /* Daily Top 10 */
  .artist-list-container {
    margin: 2em;
  }

  .artist-list {
    margin: 0.3em 1rem;
    padding: 1.3rem;
  }


  h3 {
    margin: 3em auto;
  }

  .artist-list {
    flex-basis: 100%;
  }

  .artist-list p {
    font-size: 2rem;
  }

  .album-container {
    margin: 1.5em 0.5em;
  }
}



@media (max-width: 500px){
  .search-container {
    margin: 0.5em;
  }

  .search-container, .search-albums {
    padding: 1em;
    background-color: #222220;
  }

  .search-albums {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type="search"] {
    width: 100%;
    margin-bottom: 3em;
    padding: 0.9em 1.5em;
  }


  .search button {
    padding: 0.8em 3em;
  }

  .album-container {
    width: 40%;
    flex-basis: calc(50% - 10px);
    margin: 1em 0.2em;
  }

  input[type="search"],
  .like-album p {
    font-size: 1.6rem;
  }
}